.savedmovies {
  display: flex;
  flex-direction: column;
}

.savedmovies__cards_active {
  margin-bottom: 56px;
}

@media screen and (max-width: 950px) {
  .savedmovies__cards_active {
    margin-bottom: -26px;
  }
}
.savedmovies__cards_disable {
  display: none;
}

.savedmovies__preloader_disable {
  display: none;
}
