.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px 18px;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .header {
    padding: 15px 30px 15px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
  }
}

.header__logo {
  height: 38px;
  width: 38px;
}

.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .header__navigation_long {
    display: none;
  }
}

.header__navigation_burger {
display: none;
}

@media screen and (max-width: 950px) {
  .header__navigation_burger {
    display: block;
  }
}


.header__navigation__button {
  width: 44px;
  height: 44px;
  display: none;
}

@media screen and (max-width: 950px) {
  .header__navigation__button {
    display: block;
    border: none;
    padding: 0;
    background-image: url(../../images/burger.svg);
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 450px) {
  .header__navigation__button {
    display: block;
    width: 40px;
    height: 43px;
  }
}